* {
  background-color: #041b53;
}
.main {
  margin: 7% 20%;
  color: #fefdfe;
  text-align: center;
  font-family: "popins", sans-serif;
  font-weight: 600;
  font-size: 1em;
}

header {
  line-height: normal;
  text-align: center;
}

header p {
  margin: 0;
}
header h1 {
  margin: 0;
  font-weight: bolder;
}

.status {
  margin: 1rem 0;
  font-size: 1.3em;
}

.searchBar {
  background-color: #01123e;
  width: 50%;
  height: 2.2em;
  color: #fefdfe;
  font-weight: 600;
  font-size: 1em;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0.3em 0.35em 0.3em #01123e;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin: 1.7em auto;
  display: block;
  height: 15%;
  width: 50%;
  line-height: 70px;
  text-align: left;
  border-radius: 25px;
  box-shadow: 0.3em 0.35em 0.3em #01123e;
}
ul li input {
  margin-left: 2em;
}

ul li input {
  margin-left: 2em;
}

.listItem {
  display: flex;
  justify-content: space-between;
}
.deleteButton {
  display: inline;
  margin-right: 2rem;
}
.addButtonContainer {
  display: inline-block;
}
button {
  background-color: #f469bc;
  border-radius: 50%;
  height: 6em;
  width: 6em;
  border: none;
  color: #fefdfe;
}
